.App {
  text-align: center;
}

.tableDiv {
  border-collapse: collapse;
  margin: 30px 111px;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tableDiv thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.tableDiv th,
.tableDiv td {
  padding: 12px 15px;
}
.tableDivtableDiv tbody tr {
  border-bottom: 1px solid #dddddd;
}

.tableDiv tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.tableDiv tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.Profile{
  margin: 40px 80px
}

